form .form-control.custom-input {
  border: none;
  border-bottom: 2px solid gray;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  height: 3.5rem;
  padding: 1rem 0.75rem 0.25rem 0.25rem;
}

form .custom-input:focus {
  border-bottom: 2px solid gray;
  box-shadow: none;
  outline: none;
}

.form-floating > label {
  padding-left: 0.25rem;
  color: #1abc9c;
  font-weight: 500;
  transform: translateY(-0.5rem);
}
